<div class="header-container">
    <div class="filters-container">
    </div>
    <div class="search-container">
        <input type="text" name="" id="GlobalSearch" required>
        <label for="GlobalSearch">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>Rechercher...</span>
        </label>
    </div>
    <div class="user-container">
        <div class="wrapper-user">
            <div class="informations">
                <div class="fullname">Thomas. L</div>
                <div class="username">{{'@'}}thomas.lmre</div>
            </div>
            <div class="avatar">TL</div>
        </div>
    </div>
</div>