<p-dialog [draggable]="false" [modal]="true" [(visible)]="visible" [resizable]="false"
    [style]="{ width: '30rem' }" [showHeader]="showHeader" >
    <div class="dialog-wrapper" [class.header]="showHeader">
        <div class="icon">
            <ng-lottie [options]="icon"></ng-lottie>
        </div>
        <div class="title" *ngIf="title">
            {{ title }}
        </div>
        <div class="message" *ngIf="message">
            {{ message }}
        </div>
    </div>
    <div class="dialog-footer" *ngIf="showFooter">
        <p-button label="Annuler" variant="text" severity="secondary" (click)="hideDialog()"/>
        <p-button label="Continuer" (click)="hideDialog()"/>
    </div>
</p-dialog>