<div class="messages-container">
    <div class="contacts-container">
        <div class="contacts-header">
            <div class="main-title">
                Liste des contacts
            </div>
        </div>
        <div class="contacts-body">
            <div class="group-contacts">

                <div class="item-contact" [routerLink]="['/messages/loann.grx']" [routerLinkActive]="['active']"
                    (click)="changeDiscussion('loann.grx')">
                    <div class="contents">
                        <div class="left-content">
                            <div class="avatar"></div>
                        </div>
                        <div class="right-content">
                            <div class="username">Loann G.</div>
                            <div class="lastest-message">Wesh le reuf ça va ou bien ?</div>
                        </div>
                    </div>
                    <div class="alert"></div>
                </div>

                <div class="item-contact" [routerLink]="['/messages/ronan.chs']" [routerLinkActive]="['active']"
                    (click)="changeDiscussion('ronan.chs')">
                    <div class="contents">
                        <div class="left-content">
                            <div class="avatar"></div>
                        </div>
                        <div class="right-content">
                            <div class="username">Ronan C.</div>
                            <div class="lastest-message">Wesh le reuf ça va ou bien ?</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="profilname" class="discussion-container">
        <div class="discussion-header">
            <div class="main-title">
                {{ '@' + profilname }}
            </div>
        </div>
        <div class="discussion-content">
            <div class="group-messages">

                <div class="item-message">
                    <div class="avatar"></div>
                    <div class="message-content">
                        <div class="profilname">{{ '@' + profilname }}</div>
                        <div class="message">Wesh mec c'est des faux messages mais c'est un exemples !</div>
                        <div class="date">Il y a 2 jours</div>
                    </div>
                </div>

                <div class="item-message me">
                    <div class="avatar"></div>
                    <div class="message-content">
                        <div class="profilname">Vous</div>
                        <div class="message">Wesh le reuf ça va ou bien ?</div>
                        <div class="date">Il y a 2 jours</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="!profilname" class="void-discussion-container">
        Aucun message à afficher
    </div>
</div>