.header-navigation-container {
    height: 100%;

    .header-navigation-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .navigation-link {
            color: var(--atlead-text-muted-color);
            font-weight: 500;
        }

        .navigation-title {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}