.main-container {
    display: flex;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

.main-container .body-container {
    width: calc(100vw - var(--atlead-width-navigation));
    max-height: 100vh;
    min-height: 100vh;
}

.main-container .body-container .body-wrapper {
    min-width: calc(100vw - var(--atlead-width-navigation));
    height: 100%;
    max-height: calc(100vh - var(--atlead-height-header));
    background-color: var(--atlead-light-color-2);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}

.main-container .body-container .body-wrapper .body-content {
    width: 100%;
    min-height: calc(100% - 2 * 32px);
    padding: 32px;
}