<!-- User connected -->
<div *ngIf="(tokenService.getTokenObservable() | async) as token" class="main-container">
  <app-navigation></app-navigation>
  <div class="body-container">
    <app-header></app-header>
    <app-filters-expansion></app-filters-expansion>
    <div class="body-wrapper">
      <div class="body-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- User not connected -->
<div *ngIf="!(tokenService.getTokenObservable() | async)" class="main-container">
  <router-outlet></router-outlet>
</div>