.navigation-container {
    position: relative;
    width: var(--atlead-width-navigation);
    max-height: 100vh;
    min-height: 100vh;
    background-color: var(--atlead-light-color-0);
    border-right: 1px solid var(--atlead-light-color-2);
}

.navigation-container .brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    min-width: 100%;
    max-width: 100%;
    min-height: var(--atlead-height-header);
    max-height: var(--atlead-height-header);
    box-sizing: border-box;
    border-bottom: 1px solid var(--atlead-light-color-2);
}

.navigation-container .brand-container svg {
    width: 2.8em;
    height: 2.8em;
}

.navigation-container .brand-container .brand-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .5px;
    user-select: none;
    color: var(--atlead-dark-color-0);
}

.navigation-container .brand-container .brand-title .name {
    font-family: 'Poppins';
    font-weight: 800;
    font-style: italic;
    font-size: 1.4rem;
}

.navigation-container .brand-container .brand-title .subtitle {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 1rem;
}

.navigation-container .group-navigation {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    gap: 8px;
    border-bottom: 1px solid var(--atlead-light-color-2);
}

.navigation-container .group-navigation .item-navigation {
    min-height: 48px;
    max-height: 48px;
    width: calc(100% - 2 * 16px);
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--atlead-dark-color-7);
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
}

.navigation-container .group-navigation .active  {
    background-color: var(--atlead-primary-color-0);
    color: var(--atlead-light-color-1);
}

.navigation-container .group-navigation .item-navigation:hover {
    background-color: var(--atlead-light-color-2);
}

.navigation-container .group-navigation .active:hover,
.navigation-container .group-navigation .item-navigation:active .badge-navigation,
.navigation-container .group-navigation .active:hover .badge-navigation {
    background-color: var(--atlead-primary-color-0);
}

.navigation-container .group-navigation .item-navigation .item-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigation-container .group-navigation .item-navigation .item-wrapper i {
    max-width: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-container .group-navigation .item-navigation .item-wrapper .navigation-name {
    font-weight: 600;
    text-transform: capitalize;
}

.navigation-container .group-navigation .item-navigation .badge-navigation {
    padding: 2px 4px;
    border-radius: 3px;
    background-color: var(--atlead-primary-color-0);
    color: var(--atlead-light-color-1);
    font-size: 10px;
    margin-right: 16px;
}

.navigation-container .logout-container {
    position: absolute;
    bottom: 0;
    width: var(--atlead-width-navigation);
    border-top: 1px solid var(--atlead-light-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--atlead-light-color-7);
    min-height: 40px;
    max-height: 40px;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    user-select: none;
}

.navigation-container .logout-container:hover {
    background-color: var(--atlead-light-color-2);
}

.navigation-container .logout-container:active {
    background-color: var(--atlead-light-color-3);
}