.widget-container {
    width: calc(100% - 2 * var(--atlead-padding-widget));
    display: flex;
    align-items: center;
    padding: var(--atlead-padding-widget);
    overflow: hidden;
    height: calc(100% - 48px);
}