<div class="app-sidebar-container">
    <div class="app-sidebar-wrapper">
        <div></div>
        <div class="account-details-container">
            <div class="account-details-wrapper">
                <atlead-long-avatar height="100%" type="user" title="Loann Graux" subtitle="loann.graux@atlead.fr" [details]="{
                    tag: 'Admin',
                    state: 'active',
                    entity: 'https://avatars.githubusercontent.com/u/1522'
                }" />
            </div>
        </div>
    </div>
</div>