<app-banner title="Portefeuille" subtitle="nous vous aidons à suivre votre activité financière."></app-banner>

<div class="grid-container">
    <gridstack [options]="gridOptions">
        <gridstack-item gs-x="0" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Revenue" value="€125,00" [evolution]="-5"
                style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="3" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Prévisions" value="€184,00" [evolution]="32"
                style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="6" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Moyenne/Client" value="€22,00"
                style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="9" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Dépenses" value="€14,00" style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="0" gs-y="3" [options]="items[1]">
            <app-simple-chart style="width: 100%; height: 100%;">
                <canvas id="canvas" style="min-height: calc(540px - 68px);">{{chart}}</canvas>
            </app-simple-chart>
        </gridstack-item>
        <gridstack-item gs-x="6" gs-y="3" [options]="items[2]">
            <app-simple-chart style="width: 100%; height: 100%;">
                <canvas id="MyChart" style="min-width: 100%">{{pieChart}}</canvas>
            </app-simple-chart>
        </gridstack-item>
        <gridstack-item gs-x="9" gs-y="3" [options]="items[2]">
            <app-simple-chart style="width: 100%; height: 100%;">
                <canvas id="canvas" style="min-height: calc(540px - 68px);">{{chart}}</canvas>
            </app-simple-chart>
        </gridstack-item>
    </gridstack>
</div>