<app-banner title="Portefeuille" subtitle="nous vous aidons à suivre votre activité financière."></app-banner>

<!-- <div class="grid-container">
    <gridstack [options]="gridOptions">
        <gridstack-item gs-x="0" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Revenue" value="€125,00" [evolution]="-5"
                style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="3" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Prévisions" value="€184,00" [evolution]="32"
                style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="6" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Moyenne/Client" value="€22,00"
                style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="9" gs-y="0" [options]="items[0]">
            <app-simple-card [skeleton]="true" title="Dépenses" value="€14,00" style="width: 100%;"></app-simple-card>
        </gridstack-item>
        <gridstack-item gs-x="0" gs-y="3" [options]="items[1]">
            <app-simple-chart style="width: 100%; height: 100%;">
                <apx-chart [series]="barChartOptions!.series!" [chart]="barChartOptions!.chart!"
                    [legend]="barChartOptions!.legend!" [dataLabels]="barChartOptions!.dataLabels!"
                    [colors]="barChartOptions!.colors!" [plotOptions]="barChartOptions!.plotOptions!"
                    style="width: 100%;"></apx-chart>
            </app-simple-chart>
        </gridstack-item>
        <gridstack-item gs-x="6" gs-y="3" [options]="items[2]">
            <app-simple-chart style="width: 100%; height: 100%;">
                <apx-chart [series]="pieChartOptions!.series!" [chart]="pieChartOptions!.chart!"
                    [labels]="pieChartOptions!.labels!" [legend]="pieChartOptions!.legend!"></apx-chart>
            </app-simple-chart>
        </gridstack-item>
        <gridstack-item gs-x="9" gs-y="3" [options]="items[2]">
            <app-simple-chart style="width: 100%; height: 100%;">
                <apx-chart [series]="pieChartOptions!.series!" [chart]="pieChartOptions!.chart!"
                    [labels]="pieChartOptions!.labels!" [legend]="pieChartOptions!.legend!"></apx-chart>
            </app-simple-chart>
        </gridstack-item>
    </gridstack>
</div> -->

<app-gridstack-widgets KEY_TAGRET="wallet">

</app-gridstack-widgets>